.navigation {
    /*background-color: aquamarine;*/
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 50px;
  
    .title-container {
      height: 100%;
      width: 250px;
      /*background-color: blueviolet;*/

      .title{
        color: black;
      }

      .logo{
        /*background-color: chartreuse;*/
        padding-left: 20px;
        padding-bottom: 100px;
        
      }
    }
  
    .links-container {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      /*background-color:darkgreen;*/
  
      .link {
        padding: 10px 25px;
        cursor: pointer;
        color: black;
        /*background-color: crimson;*/
      }
    }
  }