.ad-page-container{
    align-items: center;
    align-content: center;
    
    .ad-container{
        height: 300px;
        width: 100%;
        border: 2px solid black;
        
        
    }
}

