.welcome-info-container{
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    /*border: 2px solid black;*/
    margin-top: 1px;
    /*background-color: aqua;*/

    .welcome-container{
        width: 100% ;
        height: 150px;
        /*background-color: darkblue;*/

        .welcome{
            text-align: center;
        }
    }
    
    .introduction-container{
        width: 100% ;
        height: 150px;
        /*background-color:blue;*/

        .h3-info{
            font-weight: 400;
            text-decoration:underline;
        }
        
        .span-info{
            text-align: center;
        }
    }

    .button-container{
        width: 100% ;
        height: 400px;
        /*background-color:chocolate;*/
        .homepage-button{
            display: inline-block;
            padding: 10px 20px;
            background-color: #3498db;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-right: 10px;
        }
        .homepage-button:hover {
            background-color: #2980b9;
        }
        
    }
}   